<div class="row">
	<div class="col-xs-16">
		<form name="form" novalidate class="form-horizontal">
		    <fieldset>
		        <legend>Clases</legend>
		        
		        <div class="form-group">
			        <label for="curso" class="control-label col-sm-2">Cursos:</label>
			        <div class="col-sm-14">
				       	<select id="curso" name="curso" type="checkbox" ng-model="clase.curso" ng-options="curso.codigo as curso.nombre for curso in cursos" class="control-label col-sm-2" ng-change="detalleCurso()" required >
				       		<option value="">Seleccione</option>
				       	</select>
			        	<span ng-show="form.curso.$error.required && form.curso.$dirty">El campo es requerido</span>
		        	</div>
		        	<div class="row col-sm-4" ng-if="!form.curso.$error.required && form.curso.$dirty">
		        		<div class="panel panel-default">
		        			<div class="panel-heading">Descripci&oacute;n del curso</div>
		        			<div class="panel-body">
		        				<table>
			        				<tr><td><strong>Codigo:			</strong>{{configCur.codigo}}			</td></tr>
							       	<tr><td><strong>descripcion:	</strong>{{configCur.descripcion}}		</td></tr>
							       	<tr><td><strong>minutosDeClase:	</strong>{{configCur.minutosDeClase}}	</td></tr>
							       	<tr><td><strong>nroMaxAlumnos:	</strong>{{configCur.nroMaxAlumnos}}	</td></tr>
							       	<tr><td><strong>nroMinAlumnos:	</strong>{{configCur.nroMinAlumnos}}	</td></tr>
							       	<tr><td><strong>cantidadClases:	</strong>{{configCur.cantidadClases}}	</td></tr>
							       	<tr><td><strong>estado:			</strong>{{configCur.estado}}			</td></tr>
						       	</table>
		        			</div>
		        		</div>
			        </div>
		       	</div>
		        
		        <div ng-hide="form.curso.$error.required">
			        <div class="form-group" >
				        <label for="codigo" class="control-label col-sm-2">codigo:</label>
				        <div class="col-sm-10">
					        <input id="codigo" name="codigo" type="text" ng-model="clase.codigo" class="form-control" required maxlength="10"/>
					        <span ng-show="form.codigo.$error.required && form.identificacion.$dirty">El campo es requerido</span>
					        <span ng-show="form.codigo.$error.maxlength">La longitud maxima es de 10 digitos</span>
				        </div>
			        </div>
			        
			        <table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th colspan="4">Dias de la semana</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><label for="lunes">Lunes:</label><input id="lunes" name="lunes" type="checkbox" ng-model="clase.diasSemana.lunes" /></td>
								<td><label for="martes">Martes:</label><input id="martes" name="martes" type="checkbox" ng-model="clase.diasSemana.martes" /></td>
								<td><label for="miercoles">Miercoles:</label><input id="miercoles" name="miercoles" type="checkbox" ng-model="clase.diasSemana.miercoles" /></td>
								<td><label for="jueves">Jueves:</label><input id="jueves" name="jueves" type="checkbox" ng-model="clase.diasSemana.jueves" /></td>
							</tr>
							<tr>
								<td><label for="viernes">viernes:</label><input id="viernes" name="viernes" type="checkbox" ng-model="clase.diasSemana.viernes" /></td>
								<td><label for="sabado">Sabado:</label><input id="sabado" name="sabado" type="checkbox" ng-model="clase.diasSemana.sabado" />		</td>
								<td><label for="domingo">Domingo:</label><input id="domingo" name="domingo" type="checkbox" ng-model="clase.diasSemana.domingo" /></td>
							</tr>
						</tbody>
					</table>
			        <div class="form-group">
				        <label for="horaIni" class="control-label col-sm-2">Hora Inicio:</label>
				        <div class="col-sm-10">
				        	<input id="horaIni" name="horaIni" type="time" ng-model="clase.horaIni" class="form-control" required maxlength="100" placeholder="hh:mm" ng-pattern="/(^[0-2][0-9]):([0-5][0-9])$/"/>
					        <span ng-show="form.horaIni.$error.required && form.horaIni.$dirty">El campo es requerido</span>
					        <span ng-show="form.horaIni.$error.maxlength">La longitud maxima es de 100 caracteres</span>
					        <span ng-show="form.horaIni.$error.pattern">No cumple la expresi&oacute;n regular</span>
				        </div>
			        </div>
	
			        <div class="form-group">
				        <label for="horaFin" class="control-label col-sm-2">Hora Fin:</label>
				        <div class="col-sm-10">
				        	<input id="horaFin" name="horaFin" type="text" ng-model="clase.horaFin" class="form-control" required maxlength="100" ng-pattern="/(^[0-2][0-9]):([0-5][0-9])$/" placeholder="hh:mm"/>
					        <span ng-show="form.horaFin.$error.required && form.horaFin.$dirty">El campo es requerido</span>
					        <span ng-show="form.horaFin.$error.maxlength">La longitud maxima es de 100 caracteres</span>
				        </div>
			        </div>
			        
			        <div class="form-group">
				        <label for="profesor" class="control-label col-sm-2">Profesor:</label>
				        <div class="col-sm-10">
					       	<select id="profesor" name="profesor" type="checkbox" ng-model="clase.profesor" ng-options="prof.identificacion as (prof.nombre + ' ' + prof.apellidoPrimero + ' ' + prof.apellidoSegundo) for prof in profesores" class="control-label col-sm-2" required >
					       		<option value="">Seleccione</option>
					       	</select>
				        	<span ng-show="form.profesor.$error.required && form.profesor.$dirty">El campo es requerido</span>
			        	</div>
			       	</div>
			        
			        <div class="form-group">
				        <label for="profesorAux" class="control-label col-sm-2">Profesor Auxiliar:</label>
				        <div class="col-sm-10">
					       	<select id="profesorAux" name="profesorAux" type="checkbox" ng-model="clase.profesorAux" ng-options="prof.identificacion as (prof.nombre + ' ' + prof.apellidoPrimero + ' ' + prof.apellidoSegundo) for prof in profesores" class="control-label col-sm-2">
					       		<option value="">Seleccione</option>
					       	</select>
			        	</div>
			       	</div>
	
			        <div class="form-group">
				        <label for="estado" class="control-label col-sm-2">Estado:</label>
				        <div class="col-sm-10">
				        	<input id="estado" name="estado" type="checkbox" ng-model="clase.estado"/>
				        </div>
			        </div>
				</div>
		    </fieldset>
		    <a href="#/Clase/listado" class="btn btn-info">Volver</a>
		    <button ng-click="guardar()" ng-disabled="form.$invalid" class="btn btn-success">Guardar</button>
		</form>
		
		<div class="row" ng-hide="form.curso.$error.required">
			<div class="col-xs-12">
				<div class="form-group">
					
				</div>
			</div>
		</div>
		
		<div class="alert alert-danger" ng-show="alumnosDeClase.length > configCur.nroMaxAlumnos">
			<strong >El numero de alumnos para este curso se ha excedido</strong>
		</div>
		<div class="alert alert-info" ng-show="alumnosDeClase.length < configCur.nroMinAlumnos">
			<strong >Faltan alumnos para habilitar este curso</strong>
		</div>
		
		<table class="table table-bordered table-striped" ng-hide="form.curso.$error.required">
			<thead>
				<tr>
					<th>Alumnos Sin Curso: ( {{alumnos.length}} )</th>
					<th>Alumnos Para este Curso: ( {{alumnosDeClase.length}} )</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<!-- ------------------------------------------------------------ INICIO ------------------------------------------------------------ -->
						<table class="table table-bordered table-striped" ng-hide="form.curso.$error.required">
							<thead>
								<tr>
									<th>Identificaci&oacute;n</th>
									<th>Nombre</th>
									<th>Apellidos</th>
									<th>Fecha Nacimiento</th>
									<th>Acci&oacute;n</th>
								</tr>
								<tr>
									<th colspan="3">
										<label class="control-label">Filtrar por Nombre:</label>
									</th>
									<th colspan="2">
										<input ng-model="filtroAlumnos" class="form-control">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="alumno in alumnos | filteri18n:{nombre : filtroAlumnos}">
									<td>{{alumno.identificacion}}</td>
									<td>{{alumno.nombre}}</td>
									<td>{{alumno.apellidoPrimero + ' ' +alumno.apellidoSegundo}}</td>
									<td>{{alumno.fechaNacimiento}}</td>
									<td>
										<button class="btn btn-success" ng-click="agregarNuevo($index, alumno)">Agregar</button>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- ------------------------------------------------------------ FIN ------------------------------------------------------------ -->
					</td>
					<td>
						<!-- ------------------------------------------------------------ INICIO ------------------------------------------------------------ -->
						<table class="table table-bordered table-striped" >
							<thead>
								<tr>
									<th>Identificaci&oacute;n</th>
									<th>Nombre</th>
									<th>Apellidos</th>
									<th>Fecha Nacimiento</th>
									<th>Acci&oacute;n</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="alumno in alumnosDeClase">
									<td>{{alumno.identificacion}}</td>
									<td>{{alumno.nombre}}</td>
									<td>{{alumno.apellidoPrimero + ' ' +alumno.apellidoSegundo}}</td>
									<td>{{alumno.fechaNacimiento}}</td>
									<td><button class="btn btn-warning" ng-click="quitar($index)">Quitar</button></td>
								</tr>
							</tbody>
						</table>
						<!-- ------------------------------------------------------------ FIN ------------------------------------------------------------ -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>