<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<context:annotation-config />
		
	<!-- Clases para inyeccion de dependencias -->
	<bean class="co.com.jrojas.test.springRestAngular.presentacion.json.ImplementationJsonTransformer" />
	<bean class="co.com.jrojas.test.springRestAngular.persistencia.AlumnoDAO" />
	<bean class="co.com.jrojas.test.springRestAngular.persistencia.TiposIdentificacionDAO" />
	<bean class="co.com.jrojas.test.springRestAngular.persistencia.ProfesorDAO" />
	<bean class="co.com.jrojas.test.springRestAngular.persistencia.ConfigCursosDAO" />
</beans>